.frame {
    background-color: rgb(101, 140, 180);
}

#titleId {
    /*top: 35px;*/
    height: 80px;
    font-size: 20px;
    background-color: rgb(101, 140, 180);

    text-align: center;
    text-align-vertical: center;
}

.tabbedPane {
    top: 80px;
}

.tabbedPane > button {
    background-color: rgb(255, 208, 52);
    background-image: none;
    color: rgb(0, 118, 61);

    width: 14%;
}

.tabbedPane > button:hover {
    background-color: rgb(245, 187, 0);
}

/* BAR */
#bar {
    background-color: rgb(0, 118, 61);
    height: 20px;
}

.barContent {
    width: 100%;
    height: 20px;

    max-width: 755px;
    horizontal-position: center;
}

.barGroup {
    width: 50%;
}

#filterGroup {
    right: auto;
    left: 50%;
}

.barGroup > label {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;

    color: white;
    text-shadow: none;
}

.selectedFilter {
    color: rgb(255, 208, 52);
}

.tabContent {
    width: 100%;
    background-color: white;
}

.tabCenterContent {
    top: 30px; /* 20px for the bar */

    width: 100%;
    max-width: 700px;


    horizontal-position: center;
    background-color: white;
}

#houseScrollPane {
    width: 215px;
    /*left: 150px;*/
}

.housePadding {
    left: 2px;
    right: auto;
    bottom: auto;
    top: auto;

    height: 150px;
    width: 200px;
}

.housePanel {
    left: 2px;
    right: auto;
    bottom: auto;
    top: auto;

    height: 200px;
    width: 200px;

    border-color: rgba(200, 200, 200, 70);
    border-width: 1px;
}

.housePanel:hover {
    border-width: 1px;
    border-position: external;
    border-color: rgb(255, 208, 52);
}

.housePanel > .houseName {
    top: 178px;
    left: 5px;
    font-size: 10px;

    color: black;
    text-shadow: none;
}

.imagePanel {
    top: 7px;
    left: 7px;

    width: 186px;
    height: 140px;

    background-color: yellow;
}

.pricePanel {
    top: 155px;
}

.pricePanel > .price {
    left: 7px;
    top: 0px;

    height: 30px;
    font-size: 18px;

    color: black;
    text-shadow: none;
}

.pricePanel > .buyButton {
    top: 3px;
    right: 7px;
    width: 50px;
    horizontal-position: right;

    background-image: none;
    background-color: rgb(0, 118, 61);
    color: white;
}

.pricePanel > .rentButton {
    top: 3px;
    right: 7px;
    width: 50px;
    horizontal-position: right;

    background-image: none;
    background-color: blue;
    color: white;
}


.pricePanel > .unavailableButton {
    top: 3px;
    width: 93%;
    horizontal-position: center;

    background-image: none;
    background-color: red;
    color: white;
}

.pricePanel > .buyButton:hover {
    background-color: darkgreen;
}

.pricePanel > .rentButton:hover {
    background-color: darkblue;
}


#map {
    left: 250px;

    width: 400px;
    height: 300px;

    border-width: 1px;
    border-position: external;
    border-color: rgb(255, 208, 52);
    background-color: lightgray;
}

#myHouseScrollPane {
    width: 100%;
}

/* House panel */
.myHousePanel {
    width: 98%;
    height: 100px;

    left: 5px;
    right: 10px;
    top: auto;
    bottom: auto;

    background-color: white;

    border-width: 1px;
    border-position: external;
    border-color: rgb(255, 208, 52);
}

.myHouseImage {
    width: 150px;
    height: 100px;
    background-color: yellow;
}

.houseContent {
    left: 160px;
    height: 100px;
}

.houseInfo {
    width: 100%;
}

.houseInfo > label {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;

    color: black;
    text-shadow: none;
}

#houseName {
    font-size: 15px;
    height: 25px;
}

.houseButtons {
    height: 17px;
    width: 200px;

    right: 150px;
    bottom: 5px;
}

.houseBtn {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;

    width: 50px;
    height: 17px;

    background-image: none;
}

#sellButton {
    background-color: red;
}

#sellButton:hover {
    background-color: darkred;
}

#rentOutButton {
    background-color: blue;
    width: 75px;
}

#rentOutButton:hover {
    background-color: darkblue;
}

#citySellButton {
    background-color: orange;
}

#citySellButton:hover {
    background-color: darkorange;
}


#rentTitle {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}

#moneyField {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}

#rentButton {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}

#noHousesLabel {
    top: 30px;
    font-size: 15px;
    height: 25px;
    text-shadow: none;
    color: black;
    text-align: center;
}


/* Confirm modal */
.modal {
    width: 100%;
    height: 100%;

    background-color: white;
}

#confirmModal > label {

    horizontal-position: center;

    text-align: center;

    height: 25px;
    font-size: 15px;
    text-shadow: none;
    color: black;

    left: auto;
    right: auto;
    top: 20px;
    bottom: auto;
}

#confirmModal .buttonPanel {

    left: auto;
    right: auto;
    top: auto;
    bottom: auto;

    width: 175px;

    horizontal-position: center;
}

.yesButton {
    width: 75px;
    height: 15px;

    left: auto;
    right: auto;

    background-image: none;
    background-color: green;
}

.yesButton:hover {
    background-color: darkgreen;
}

.noButton {
    width: 75px;
    height: 15px;

    left: auto;
    right: auto;

    background-image: none;
    background-color: red;
}

.noButton:hover {
    background-color: darkred;
}


/* Sell modal */
.sellModal {
    top: 10px;
}

.modal #sellTitle {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;

    text-align: center;
    height: 25px;
    font-size: 15px;
    text-shadow: none;
    color: black;
}

.modal .buttonPanel {
    top: auto;
    bottom: auto;

    width: 175px;

    horizontal-position: center;
}


.modal #moneyField {
    width: 50%;

    top: auto;
    bottom: auto;

    horizontal-position: center;

    /*background-color: rgb(101, 140, 180);
    border-color: rgb(255, 208, 52);*/
}