#myHousesFrame {
    background-color: white;
}

.content {
    top: 80px;
    width: 100%;
    background-color: white;
}

#myHousesTitle {
    width: 80%;
    color: black;
    font-size: 15px;
    height: 30px;
    text-shadow: none;
    horizontal-position: center;
}

#houseScrollPane {
    top: 30px;
    width: 80%;
    horizontal-position: center;
}

/* House panel */
.myHousePanel {
    width: 98%;
    height: 100px;

    left: 5px;
    right: 10px;
    top: auto;
    bottom: auto;

    background-color: white;

    border-width: 1px;
    border-position: external;
    border-color: rgb(255, 208, 52);
}

.myHouseImage {
    width: 150px;
    height: 100px;
    background-color: yellow;
}

.houseContent{
    left: 160px;
    height: 100px;
}

.houseInfo {
    width: 100%;
}

.houseInfo > label {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;

    color: black;
    text-shadow: none;
}

#houseName {
    font-size: 15px;
    height: 25px;
}

.houseButtons {
    height: 17px;
    width: 200px;

    right: 75px;
    bottom: 5px;
}

.houseBtn {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;

    width: 50px;
    height: 17px;

    background-image: none;
}

#sellButton {
    background-color: red;
}

#sellButton:hover {
    background-color: green;
}

#rentOutButton {
    background-color: blue;
}

#rentOutButton:hover {
    background-color: green;
}


#rentTitle {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}

#moneyField {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}

#rentButton {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}

